@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap");

.date {
  font-family: Abril Fatface;
  font-weight: 200;
}

.newspaper-container {
  background: white;
  width: 700px;
}

#header {
  font-family: Abril Fatface;
  text-align: center;
  /* font-size: ; */
}

#article-title {
  font-family: Roboto Slab;
}

#author {
  color: red;
  padding-top: 1em;
}

hr {
  color: #777;
}

li {
  display: inline;
  text-align: center;
  padding: 1em;
}

a:link {
  text-decoration: none;
  color: #777;
}

p {
  font-family: Source Sans Pro;
}

span {
  display: inline-block;
}
